{"AWSTemplateFormatVersion":"2010-09-09","Parameters":{"Instance1":{"Type":"String"},"Instance2":{"Type":"String"}},"Resources":{"MyLoadBalancer":{"Type":"AWS::ElasticLoadBalancing::LoadBalancer","Properties":{"AvailabilityZones":["us-east-1a"],"Listeners":[{"InstancePort":"80","LoadBalancerPort":"80","Protocol":"HTTP"}]}},"MyLoadBalancer2":{"Type":"AWS::ElasticLoadBalancing::LoadBalancer","Properties":{"AvailabilityZones":["us-east-1a"],"Instances":[{"Ref":"Instance1"},{"Ref":"Instance2"}],"Listeners":[{"InstancePort":"80","LoadBalancerPort":"80","Protocol":"HTTP"}],"HealthCheck":{"HealthyThreshold":"3","Interval":"30","Target":"HTTP:80/","Timeout":"5","UnhealthyThreshold":"5"}}}}}
